# Dependencies
node_modules

# package lock
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Compiled binary addons 
build/Release

# vscode live server
.vscode

# dot env
.env